numpy==1.16.2
scipy==1.2.1
scikit-learn==0.20.2
torch==1.0.1
torchvision==0.2.1
nltk==3.4
pydot==1.4.1
h5py==2.9.0
matplotlib==3.0.2

# The requirements below is for the flask web demo
flask==1.0.2
wtforms==2.2.1
flask-wtf==0.14.2
