{% extends "base.html" %}

{% block content %}
    <h1><b>Movie Review Sentiment Predictor</b></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.movie_review.label }}
            {{ form.movie_review(class="form-control", rows="12") }}
            {% for error in form.movie_review.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary mb-2") }}
        </div>
    </form>
{% endblock %}
