{% extends "base.html" %}

{% block content %}
    <h1>Movie Review Sentiment Predictor</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.movie_review.label }}<br>
            {{ form.movie_review(cols="70", rows="15") }}<br>
            {% for error in form.movie_review.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
